* {
  font-family: "Questrial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  height: 100%;
  background: url(img/bg.png);
  background-size: cover;
  background-attachment: fixed;
}

#bank-logo {
  margin: auto;
  text-align: center;
}

#bank-logo-pic {
  margin-top: 70px;
  width: 70px;
  border: none;
}

#bank-name {
  margin: auto;
  margin-top: 1%;
  text-align: center;
}

#bank-site {
  margin: auto;
  margin-top: 1%;
  text-align: center;
  color: brown;
  font-size: 20px;
}

input[type="text"],
input[type="password"] {
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
}

/* ----- BUTTONS ----- */

input[type="button"] {
  padding: 7px 10px;
  width: 50%;
  border-radius: 5px;
  border: 2px solid maroon;
  color: maroon;
  background: #ffc83d;
  font-weight: bold;
}

input[type="button"]:hover {
  color: #ffc83d;
  border: 2px solid #ffc83d;
  background-color: maroon;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

input[type="button"]:focus {
  outline: none;
}

/* ----- END OF BUTTONS ----- */

/****************************/
/* ----- LOGIN ----- */

#login {
  width: 350px;
  margin: auto;
  margin-top: 50px;
  background-color: navajowhite;
  border: 2px solid goldenrod;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 8px 8px 0px;
  /* display: none; */
}

#login-text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  color: maroon;
  font-size: 22px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  padding: 10px;
  border: 1px solid lightgray;
}

#login-btn {
  margin: auto;
  margin-top: 5%;
  width: 100%;
  font-size: 15px;
  padding: 10px;
}

#login p {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0;
}

#login a {
  color: maroon;
  text-decoration: none;
  font-weight: bold;
}

#login a:hover {
  text-decoration: underline;
}

/* ----- END OF LOGIN ----- */
/***********************************/

/****************************/
/* ----- REGISTRATION ----- */

#registration {
  width: 350px;
  margin: auto;
  margin-top: 50px;
  background-color: brown;
  border: 2px solid goldenrod;
  border-radius: 10px;
  padding: 10px 20px;
  padding-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 8px 8px 0px;
  display: none;
}

#reg-text {
  text-align: center;
  color: lightgoldenrodyellow;
  margin-bottom: 15px;
  font-weight: 100;
  font-size: 140%;
}

#reg-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 0;
  padding: 20px;
  padding-top: 0;
  color: navajowhite;
}

#reg-form input {
  padding: 10px;
  outline: none;
}

#reg-btn {
  margin: auto;
  width: 100%;
  font-size: 15px;
  background-color: goldenrod;
}

#reg-btn:hover {
  background-color: gold;
  color: maroon;
  border: 2px solid maroon;
}

#registration a {
  text-align: center;
  margin-top: 15px;
  color: navajowhite;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

#registration a:hover {
  text-decoration: underline;
}

/* ----- END OF REGISTRATION ----- */
/***********************************/

/********************************/
/* ----- CUSTOMER ACCOUNT ----- */
/********************************/

#customer-account {
  width: 650px;
  margin: auto;
  margin-top: 30px;
  /* text-align: center; */
  background-color: navajowhite;
  border: 2px solid goldenrod;
  border-radius: 10px;
  padding-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 8px 8px 0px;
  display: none;
}

.info-container {
  display: flex;
  justify-content: space-around;
}

/* -----ACCOUNT INFO ----- */

#display {
  /* border: 2px solid black; */
  text-align: center;
  margin: auto;
  margin-right: -10%;
  margin-top: 40px;
}

img {
  width: 170px;
  border-radius: 5px;
  border: 5px solid lightgoldenrodyellow;
}

#logout {
  border: 2px solid gray;
  color: gray;
  background: transparent;
  font-size: 12px;
  padding: 3px;
  width: 30%;
  margin-top: 5px;
}

#logout:hover {
  background-color: gray;
  color: white;
}

/* ----- END OF ACCOUNT INFO ----- */

/* ----- TRANSACTIONS INPUT----- */

#transactions {
  margin: auto;
  text-align: center;
}

#transaction-form {
  height: 50%;
  text-align: left;
  margin-top: 47px;
  font-size: 15px;
  background-color: cornsilk;
  padding-left: 44px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.trans-type {
  width: 75%;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

#transfer-text {
  /* visibility: hidden; */
  display: none;
  margin-top: 10px;
  padding: 5px;
  width: 67%;
  font-size: 12px;
}

#transaction-amount {
  width: 67%;
  padding: 5px;
  padding-left: 8px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 15px;
  outline: none;
}

#submit-transaction {
  margin-left: 24px;
}

/* ----- END OF TRANSACTIONS INPUT ----- */

/* ----- TRANSACTION HISTORY ----- */

.table-container {
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

table {
  border-top: 3px solid maroon;
  border-bottom: 3px solid maroon;
  width: 70%;
  margin: auto;
  line-height: 30px;
  padding: 10px 20px;
}

td {
  text-align: right;
  font-size: 20px;
}

th {
  background-color: none;
  text-align: center;
  text-transform: uppercase;
}

#bal-beg,
#bal-end {
  text-align: left;
}

#bal-end-val {
  font-weight: bold;
}

/* ----- END OF TRANSACTION HISTORY ----- */

/***************************************/
/* ----- END OF CUSTOMER ACCOUNT ----- */
/***************************************/
